*.obj filter=lfs diff=lfs merge=lfs -text
quad-v4/meshes filter=lfs diff=lfs merge=lfs -text
quad-v4/quad-v4.urdf filter=lfs diff=lfs merge=lfs -text
quad-v4/readme.md filter=lfs diff=lfs merge=lfs -text
