<?xml version="1.0" encoding="UTF-8"?>
<robot name="quad-v4">
  <joint name="CCW_Prop_4" type="fixed">
    <origin xyz="-0.21507 0.27856 0.09495" rpy="1.5707964 -0.0000036 3.0105963"/>
    <parent link="quad_v4"/>
    <child link="Prop_4_CCW"/>
  </joint>
  <joint name="Prop1_CW" type="fixed">
    <origin xyz="-0.21507 -0.27856 0.09495" rpy="1.5707964 -0.0000036 1.6689004"/>
    <parent link="quad_v4"/>
    <child link="CW_Prop1"/>
  </joint>
  <joint name="Prop_3_CCW" type="fixed">
    <origin xyz="0.21507 -0.27856 0.09495" rpy="1.5707964 -0.0000036 1.1558464"/>
    <parent link="quad_v4"/>
    <child link="CCW_Prop_3"/>
  </joint>
  <joint name="base_link_Payload" type="fixed">
    <origin xyz="-0.0591947 -0.0192532 -0.0481804" rpy="1.5707964 0. 3.1415927"/>
    <parent link="quad_v4"/>
    <child link="quad_v4_Payload"/>
  </joint>
  <joint name="base_link_Prop_2_CW" type="fixed">
    <origin xyz="0.21507 0.27856 0.09495" rpy="1.5707963 -0.0000036 2.9688964"/>
    <parent link="quad_v4"/>
    <child link="quad_v4_Prop_2_CW"/>
  </joint>
  <link name="CCW_Prop_3">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0339123"/>
      <inertia ixx="0." ixy="0." ixz="0." iyy="0." iyz="0." izz="0."/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/CCW_Prop_3_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/CCW_Prop_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/CCW_Prop_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="CW_Prop1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0339106"/>
      <inertia ixx="0." ixy="0." ixz="0." iyy="0." iyz="0." izz="0."/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/CW_Prop1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/CW_Prop1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/CW_Prop1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="Prop_4_CCW">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0339218"/>
      <inertia ixx="0." ixy="0." ixz="0." iyy="0." iyz="0." izz="0."/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/Prop_4_CCW_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/Prop_4_CCW_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/Prop_4_CCW_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="quad_v4">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/base_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/base_link_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/base_link_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="quad_v4_Payload">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.4613897"/>
      <inertia ixx="0." ixy="0." ixz="0." iyy="0." iyz="0." izz="0."/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/quad_v4_Payload_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/quad_v4_Payload_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/quad_v4_Payload_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="quad_v4_Prop_2_CW">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0339125"/>
      <inertia ixx="0." ixy="0." ixz="0." iyy="0." iyz="0." izz="0."/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/quad_v4_Prop_2_CW_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/quad_v4_Prop_2_CW_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. -1.5707963 0. "/>
      <geometry>
        <mesh filename="meshes/quad_v4_Prop_2_CW_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
